<!DOCTYPE html>
<head>
    Registros
</head>

<body>
    <table>
        <tr>
            <th>ID</th>
            <th>Data/Hora</th>
            <th>ID do Usuário</th>
            <th>ID do Jogo</th>
            <th>Ação</th>
        </tr>

        {% for registro in registros %}
        <tr>
            <td>{{ registro.id }}</td>
            <td>{{ registro.data_hora }}</td>
            <td>{{ registro.usuario_id }}</td>
            <td>{{ registro.jogo_id }}</td>
            <td>{{ registro.acao }}</td>
        </tr>
        {% endfor %}
    </table>

    <div>
        <a href = "{% url 'home' %}">Voltar</a>
    </div>
</body>