

/*#fffa00*/
/*0b4874*/
/*1e6363*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column; /* Alinha a navbar no topo e o container embaixo */
    background-color: #0b4874; /* Cor de fundo opcional para o site */
    font-family: Arial, sans-serif;
}


nav{
    position: fixed;
    left: 0;
    top: 0;
    height: 75px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

nav .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 90%;
    margin: auto;
}

nav .navbar .logo a{
    color: #fff;
    font-size: 27px;
    font-weight: 600;
    text-decoration: none;
}

nav .navbar .menu{
    display: flex;
}

.navbar .menu li{
    list-style: none;
    margin: 0 15px;
}

.navbar .menu li a{
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
}


section{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0099ff;
    font-size: 70px;
}

/* Centraliza absolutamente tudo o que for inserido dentro de qualquer tela */
.container {
    flex: 1; /* Faz o container ocupar todo o espaço restante da tela abaixo da nav */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center;     /* Centraliza horizontalmente */
    width: 100%;
    padding: 20px;           /* Margem de segurança para telas de celular */
    padding-top: 95px;
    box-sizing: border-box;
}

.modal{
    display: none;
    padding-top: 0px;
    position: fixed; 
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.7);
}

.modal-content{
    padding-top: 0px; 
    background: white;
    width: 45%;
    height: 100%;
    margin: 5% 0 5% 5%;
    margin-left: 0;
    margin-top: 0;
    padding-top: 5%;
    border-radius: 10px;
}

.close{
    float: right;
    font-size: 30px;
    cursor: pointer;
    padding-right: 5%;
}

#calendar{
    padding-left: 1%;
    max-width:700px;
    height:70%;
}



