/* Paleta de cores de referência: */
/* Amarelo: #fffa00 */
/* Azul escuro: #0b4874 */
/* Verde/Azulado: #1e6363 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #0b4874;
}

nav {
    position: fixed; /* Fixa o elemento na tela */
    top: 0;          /* Cola no topo absoluto */
    left: 0;         /* Cola na borda esquerda */
    width: 100%;     /* Ocupa toda a largura da tela */
    z-index: 1000;   /* Garante que ela fique por cima de outros elementos */
}
/* Ajuste para a Navbar do Bootstrap fixada no topo */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.8);
}

/* Container principal compensando a navbar fixa */
.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    padding-top: 95px; /* Empurra o conteúdo para baixo da navbar fixa */
    box-sizing: border-box;
}






