<!DOCTYPE html>
<html lang="pt-br">
    
<head>  
    <meta charset="UTF-8">
    <title>Cadastro de Jogador</title>
</head>

<body>
    <form action = "{% url 'cadastro' %}" method = "post"> 
        {% csrf_token %}
            <div class='cadastroUsu-container'>

                <div class="formulario-cadastroUsu">
                  <div class="cadastroUsu-titulo">
                    <h1>Cadastre-se</h1>
                  </div>

                  <div class="form-cadastroUsu-linha">
                      <div class="form-cadastroUsu-grupo">
                        <label>Nome</label>
                        <input name = "nome" class = "form-control-sm" value="{{ nome_preenchido|default:'' }}" type = "text" required style="width: 220px">
                      </div> 
                    </div>

                    <div class="form-cadastroUsu-linha">
                      <div class="form-cadastroUsu-grupo">
                        <label>CPF</label>
                        <input name = "cpf" class = "form-control-sm" value="{{ cpf_preenchido|default:'' }}" type = "text" 
                        inputmode="numeric" pattern="\d*" maxlength="11" oninput="this.value = this.value.replace(/[^0-9]/g, '');" required style="width: 220px">
                      </div> 
                    </div>

                    <div class="form-cadastroUsu-linha">
                      <div class="form-cadastroUsu-grupo">
                        <label>Data de aniversário</label>
                        <input name = "data" class = "form-control-sm" value="{{ data_preenchida|default:'' }}" type = "date" max="{% now 'Y-m-d' %}" 
                        placeholder="dd/mm/YYYY" required style="width: 220px">
                      </div> 
                    </div>

                    <div class="form-cadastroUsu-linha">
                      <div class="form-cadastroUsu-grupo">
                        <label>Telefone</label>
                            <small style="display: block; color: gray;">Apenas números (máx. 13)</small>
                        <input name = "telefone" class = "form-control-sm" value="{{ telefone_preenchido|default:'' }}" type = "text" 
                        inputmode="numeric" pattern="\d*" maxlength="13" oninput="this.value = this.value.replace(/[^0-9]/g, '');" required style="width: 220px">
                    </div> 

                      <div class="form-cadastroUsu-grupo">
                        <label>Senha</label>
                        <input name = "senha" class = "form-control-sm" value="{{ senha_preenchida|default:'' }}" type = "password" required style="width: 220px">
                      </div> 
                    </div>

                    <div class="form-cadastroUsu-grupo">
                        <label>Confirmar senha</label>
                        <input name = "confirmar_senha" class = "form-control-sm" type = "password" required style="width: 220px">
                      </div> 
                    </div>

                    <hr>

                    <div class="form-cadastroUsu-grupo">
                        <label for="funcao">Você é:</label>
                        <select name="funcao" id="funcao" class="form-control-sm" style="width: 220px">
                            <option value="" disabled {% if not funcao_preenchida %}selected{% endif %}>Selecione</option>
                            <option value="levantador" {% if funcao_preenchida == "levantador" %}selected{% endif %}>Levantador</option>
                            <option value="atacante1" {% if funcao_preenchida == "atacante1" %}selected{% endif %}>Atacante 1 (Ponteiro)</option>
                            <option value="atacante2" {% if funcao_preenchida == "atacante2" %}selected{% endif %}>Atacante 2 (Oposto)</option>
                            <option value="defesa" {% if funcao_preenchida == "defesa" %}selected{% endif %}>Defesa (Líbero)</option>
                        </select>
                    </div>

                <div class="form-cadastroUsu-linha">
                    <div class="form-cadastroUsu-grupo">
                    <label>Número da camisa</label>
                    <input name = "numeroc" class = "form-control-sm" value="{{ numeroc_preenchido|default:'' }}" type = "number" oninput="this.value = Math.abs(this.value)" 
                    placeholder="0" required style="width: 220px">
                    </div> 
                </div>

                <div class="form-cadastroUsu-linha">
                    <div class="form-cadastroUsu-grupo">
                    <label>Nome na camisa</label>
                    <input name = "nomec" class = "form-control-sm" value="{{ nomec_preenchido|default:'' }}" type = "text" required style="width: 220px">
                    </div> 
                </div>

                <div class="form-cadastroUsu-linha">
                  <div class="form-cadastroUsu-grupo">
                    <label for="quantidadec">Quantidade de camisas:</label>
                       <select name="quantidadec" id="quantidadec" class = "form-control-sm" style="width: 220px">
                        <option value="" disabled {% if not quantidadec_preenchida %}selected{% endif %}>Selecione</option>
                        <option value="1" {% if quantidadec_preenchida == "1" %}selected{% endif %}>1</option>
                        <option value="2" {% if quantidadec_preenchida == "2" %}selected{% endif %}>2</option>
                        <option value="3" {% if quantidadec_preenchida == "3" %}selected{% endif %}>3</option>
                       </select>
                    </div>
                </div>

                <div class="form-cadastroUsu-linha">
                  <div class="form-cadastroUsu-grupo">
                    <label for="tipoc">Tipo das camisas:</label>
                       <select name="tipoc" id="tipoc" class = "form-control-sm" style="width: 220px">
                        <option value="" disabled {% if not tipoc_preenchida %}selected{% endif %}>Selecione</option>
                        <option value="sem" {% if tipoc_preenchida == "sem" %}selected{% endif %}>Sem mangas</option>
                        <option value="com" {% if tipoc_preenchida == "com" %}selected{% endif %}>Com mangas</option>
                       </select>
                    </div>
                </div>


                <div class="form-cadastroUsu-linha">
                    <div class="form-cadastroUsu-grupo">
                    <label for="tamanhoc">Tamanho das camisas:</label>
                       <select name="tamanhoc" id="tamanhoc" onchange="mostrarCampoSenha()" class = "form-control-sm" style="width: 220px">
                        <option value="" disabled {% if not tamanhoc_preenchida %}selected{% endif %}>Selecione</option>
                        <option value="pp" {% if tamanhoc_preenchida == "pp" %}selected{% endif %}>"Tamanho PP = Dimensões: Altura 66 x Torax 46 x Quadril 46"</option>
                        <option value="p" {% if tamanhoc_preenchida == "p" %}selected{% endif %}>"Tamanho P = Dimensões: Altura 69 x Torax 48 x Quadril 48"</option>
                        <option value="m" {% if tamanhoc_preenchida == "m" %}selected{% endif %}>"Tamanho M = Dimensões: Altura 71 x Torax 52 x Quadril 52"</option>
                        <option value="g" {% if tamanhoc_preenchida == "g" %}selected{% endif %}>"Tamanho G = Dimensões: Altura 73 x Torax 55 x Quadril 55"</option>
                        <option value="gg" {% if tamanhoc_preenchida == "gg" %}selected{% endif %}>"Tamanho GG = Dimensões: Altura 76 x Torax 59 x Quadril 59"</option>
                        <option value="exg" {% if tamanhoc_preenchida == "exg" %}selected{% endif %}>"Tamanho EXG = Dimensões: Altura 83 x Torax 67 x Quadril 67"</option>
                       </select>
                    </div>

                    <div class="botao-enviar-cadastroUsu">
                        <button class = "form-control-sm" id="botao-enviar-cadastroUsu">Cadastrar</button>
                    </div> 
                    </div>
                </form>
            </body>
        
<div class="botao-organizador">
  <a href = "{% url 'login' %}">
      Login
  </a>
</div>
