<!DOCTYPE html>
<head>Editar Usuário</head>
<body>
    <form method="post">
        {% csrf_token %}
    <div>
        <label>Editar nome</label>
        <input name="nome" value="{{ nome_preenchido|default:'' }}" type="text" required>
    </div>

    <hr>
    Dados da camisa
    <div>
        <label>Nome da camisa</label>
        <input name="nomec" value="{{ nomec_preenchido|default:'' }}" type="text" required>
    </div>
    <div>
        <label>Número da camisa</label>
        <input name="numeroc" value="{{ numeroc_preenchido|default:'' }}" type="number" onKeyUp="if(this.value>99){this.value='999';}else if(this.value<0){this.value='0';}" oninput="this.value = Math.abs(this.value)" required>
    </div>
    
    <div class="form-cadastroUsu-linha">
        <div class="form-cadastroUsu-grupo">
        <label for="tamanhoc">Tamanho das camisas:</label>
            <select name="tamanhoc" id="tamanhoc" onchange="mostrarCampoSenha()" class = "form-control-sm" required>
            <option value="" disabled {% if not tamanhoc_preenchida %}selected{% endif %}>Selecione</option>
            <option value="pp" {% if tamanhoc_preenchida == "pp" %}selected{% endif %}>Tamanho PP = Dimensões: Altura 66 x Torax 46 x Quadril 46</option>
            <option value="p" {% if tamanhoc_preenchida == "p" %}selected{% endif %}>Tamanho P = Dimensões: Altura 69 x Torax 48 x Quadril 48</option>
            <option value="m" {% if tamanhoc_preenchida == "m" %}selected{% endif %}>Tamanho M = Dimensões: Altura 71 x Torax 52 x Quadril 52</option>
            <option value="g" {% if tamanhoc_preenchida == "g" %}selected{% endif %}>Tamanho G = Dimensões: Altura 73 x Torax 55 x Quadril 55</option>
            <option value="gg" {% if tamanhoc_preenchida == "gg" %}selected{% endif %}>Tamanho GG = Dimensões: Altura 76 x Torax 59 x Quadril 59</option>
            <option value="exg" {% if tamanhoc_preenchida == "exg" %}selected{% endif %}>Tamanho EXG = Dimensões: Altura 83 x Torax 67 x Quadril 67</option>
        </select>
    </div>

    <button>Editar</button>
</form>
    <a href = "{% url 'home' %}">Voltar</a>
</body>
