{% extends "base.html" %}
{% load static %}
<html lang="pt-br">

<head>
    teste
</head>
<body>
<a href = "{% url 'ver_usuarios' %}">
        <button class="form-control-sm" id="botao-entrar-login">Ver usuários</button>

<a href = "{% url 'editar_usuario' %}">
        <button class="form-control-sm" id="botao-entrar-login">Editar perfil</button>

<a href = "{% url 'registro_jogo' %}">
        <button class="form-control-sm" id="botao-entrar-login">Registros</button>

<a href = "{% url 'tesouraria' %}">
        <button class="form-control-sm" id="botao-entrar-login">Tesouraria</button>

</body>