{% extends "Html/base.html" %}
{% load static %}
{% block content %}



        

        

{% endblock %}




<!--
 <button onclick="abrirCalendario()">
            Abrir Calendário
        </button>

        <div id="modalCalendario" class="modal">

            <div class="modal-content">

                <span class="close" onclick="fecharCalendario()">
                    &times;
                </span>

                <h2>Eventos</h2>

                <div id="calendar"></div>

            </div>
        </div>


        <section class="botoes-principais">
          <div class="botao">
            <a href="{% url 'registro_jogo' %}">
              <img src="{% static 'Images/veado.png' %}" alt="templo grego" title="Eventos inscritos">
            </a>
          </div>
        </section>
-->