<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'Css/login.css' %}">
    <title>
      {% block title %}
        VoleiON
      {% endblock %}
    </title>
  </head>
{% block extra_css %}
{% endblock %}

{% block content %}
    <div class="login-wrapper">
        <form method="post">
                {% csrf_token %}
                <div class="login-container">
                    <div class="login-titulo">
                        <h1>Login</h1>
                    </div>

                    <div class="formulario-login">
                        <div class="form-login-grupo">
                            <input name="cpf" value="{{ cpf_preenchido }}" type = "text" 
                                inputmode="numeric" pattern="\d*" maxlength="11" oninput="this.value = this.value.replace(/[^0-9]/g, '');" autocomplete="off" required placeholder="CPF">
                        </div>
                    

                        <div class="form-login-grupo">
                            <input type="password" name="senha" required autocomplete="off" placeholder="Senha" maxlength="255">
                        </div>

                        <div>
                            <button class="form-control-sm" id="botao-entrar-login">Entrar</button>
                        </div>
                    </div>
        </form>
        
        <div class="botao-organizador">
            <a href = "{% url 'cadastro' %}">
                Não possuo cadastro
            </a>
        </div>
    </div>

{% endblock %}