{% extends "Html/base.html" %}

{% load static %}

{% block content %}
<form action="{% url 'registro_jogo' %}" method="post">
    {% csrf_token %}

    <div>
        <h1>Cadastro de Eventos</h1>
    </div> 

    <div>
        <label>Nome:</label>
        <input name="acao" class="form-control-sm" type="text">
    </div>

    <div>
        <label>Data do jogo:</label>
        <input name="data_hora" type="date" class="form-control-sm">
    </div>

    <button class="form-control-sm">Enviar</button>
</form>

<head>
    <meta charset="UTF-8">
    <title>Calendário</title>

    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>

    <script defer src="{% static 'Java_Script/registros.js' %}"></script>

    <style>
        #calendar {
            max-width: 900px;
            margin: 40px auto;
        }
    </style>
</head>

<body>

    <h1>Calendário</h1>

    <div id="calendar"></div>

    {{ eventos_json|json_script:"eventos-data" }}

</body>
</html>
{% endblock %}
